* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
}

.navbar {
    background-color: rgb(255, 255, 255) !important;
}

.navbar div, .navbar ul{
    background-color: transparent !important;
}

.cont_sec_1{
    padding: 10%;
}

.cont_sec_1_link{
    padding: 5%;
}

.cont_sec_1_link a{
    width: 200px;
}

.cont_sec_1 hr{
    border-top: 2px solid rgba(1, 1,1, 0.5);
}

.cont2 h1{
    font-size: 2.9vw;
}

.cont2 p{
    font-size: 1.9vw;
}


.container3 hr{
    border-top: 2px solid rgba(1, 1,1, 0);
}

.container3 h2{
    font-size: 2.9vw;
}

.container3 h3{
    font-size: 1.9vw;
}

.cont_footer{
    background-color: rgba(1, 1, 1, 0.7);
    padding: 10%;
    color:  #fff;
    margin-top: 100px;
}

.cont_footer a{
    color: #fff;
    text-decoration: none;
    display: block;
}

.cont_img_footer{
    padding: 5%;
}

.cont_footer h2{
    font-size: 2.9vw;
}

.cont_footer p{
    font-size: 0.9vw;
}

.cont_form{
    font-size: 3.9vw;
}

.cont_form p{
    font-size: 4.9vw;
}

.cont_form label{
    font-size: 1.9vw;
}

::placeholder {
    font-size: 1.5vw;
}

.cont_form select{
    font-size: 1.9vw;
}
