* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
}

.navbar {
    background-color: rgb(255, 255, 255) !important;
}

.navbar div, .navbar ul{
    background-color: transparent !important;
}

.cont_sec_1{
    padding: 10%;
}

.cont_sec_1_link{
    padding: 5%;
}

.cont_sec_1_link a{
    width: 200px;
}

.cont_sec_1 hr{
    border-top: 1px solid rgba(1, 1,1, 0.3);
}

.cont_footer{
    background-color: rgba(1, 1, 1, 0.7);
    padding: 10%;
    color:  #fff;
    margin-top: 100px;
}

.cont_footer a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.cont_img_footer{
    padding: 5%;
}